html,body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,form,fieldset,dl,dd,dt{border:0;margin:0;padding:0;padding-top:0;}
img {width: 100%;height: auto;}

html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}

.top-i {
    width: 100%;
    height: 150px; background-image:url(580.jpg);margin-top:51px;
	
}
.t-bar{background-color:rgb(0,120,201); #fe0101;#07b216;padding:0% 3% 0% 3%;}
.d-box{background-color:#07b216;}
.foot-bar{background-color:#0065a2;}


.co{color:white;align:center;}
.txa {
    width:100%;height:100px;font-size:20px;font-family:the times roman;border:1px solid green;color:green;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  background-color:white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


.footer-col {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
    -webkit-column-rule-color: lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule-color: lightblue; /* Firefox */
    column-rule-color: white;
	text-align:center;
}
a{text-decoration:none;}
a.bot-foot:hover{text-decoration:;color:lightblue;}

.te{width:100%; height:35px; font-size:20px;font-family:the times roman;border:0px;color:green;border-radius: 5px;}
.te-01{font-size:20px;font-family:the times roman;color:white;}
.te-02{padding-left: 5px;padding-right:5px;}
.inn{width:100%; height:35px; font-size:20px;font-family:the times roman;border:1px solid green;color:green;}

.btn{background:#06b216;width:100%;border-radius: 0px;border-color:;}

.buttons{ font-family:the times roman;font-weight:bold;}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  }

/* Caption text */
.text {
  color: #2196F3;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: rgb(0,120,201);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #d36666;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

ul.tab {
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #fdd1b7;
    background-color: #25ca4f;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: ;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #fdd1b7;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 10px;
    border: 1px solid #fdd1b7;
    border-top: none;
}
.button {
  display: inline-block;
 
  background-color: #06b216;  /* Green */
  border: none;
  color: #FFFFFF;
  font-family:the times roman;
  text-align: center;
  font-size: 20px;
  padding: 0px;
  width: 100%;
  height: 35px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* The pop (background) */
.pop {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* pop Content */
.pop-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid green;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pop-header {
    padding: 2px 10px;
    background-color: rgb(0,120,201);
    color: white;
}

.pop-body {padding: 2px 16px;position: relative;}


.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 0px;
}